html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  --card-size: 150px;
}
body.light {
  --background: #eee;
  --text: #333;
  --line: rgba(0, 0, 0, 0.1);
  --card-back: white;
  --card-border: #666;
}
#cards {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--card-size) * 100);
  height: calc(var(--card-size) * 100);
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--card-size);
  height: var(--card-size);
  background-color: var(--card-back);
  border: 1px solid var(--card-border);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.dragged {
  opacity: 0.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
