html, body, #overlay-cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  background-color: #eee;
  color: rgba(0, 0, 0, 0.8);
  --card-size: 150px;
  overflow: hidden;
  position: relative;
}

.card, .tooltip, button {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#cards {
  position: fixed;
  top: 0;
  left: 0;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--card-size);
  height: var(--card-size);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  --mass: white; /* fallback colours */
  --ie: white;
  --melting-point: white;
}
.stacked {
  opacity: 0.5;
}
.name {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
  font-size: 24px;
}
.symbol {
  text-align: center;
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  font-size: 56px;
}
body.show-name .symbol {
  top: 30px;
}
.selected {
  box-shadow: inset 0 0 10px rgb(35, 149, 225, 0.8), 0 0 20px rgb(35, 149, 225, 0.8);
  padding: 8px;
}
.dragged {
  opacity: 0.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.sel-box {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgb(35, 149, 225, 0.5);
  background-color: rgb(35, 149, 225, 0.1);
  box-sizing: border-box;
  width: 0;
  height: 0;
}

.state, .type, .melting, .mass, .ie, .note {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 16px;
  width: 100%;
  font-size: 24px;
}
body.show-mass .card {
  background-color: var(--mass);
}
body.show-mass .mass {
  display: block;
}
body.show-melting .card {
  background-color: var(--melting-point);
}
body.show-melting .melting {
  display: block;
}
body.show-ie .card {
  background-color: var(--ie);
}
body.show-ie .ie {
  display: block;
}

body.show-state .solid {
  background-color: #b3834f;
}
body.show-state .liquid {
  background-color: #638ed0;
}
body.show-state .gas {
  background-color: #9bdfed;
}
body.show-state .state {
  display: block;
}

body.show-type .metal {
  background-color: #b6b6b6;
}
body.show-type .nonmetal {
  background-color: #9bdfed;
}
body.show-type .semimetal {
  background-color: #7588a4;
}
body.show-type .type {
  display: block;
}

body.show-note .unreactivegas {
  background-color: #9bdfed;
}
body.show-note .triatomicgas {
  background-color: #f3a7a7;
}
body.show-note .see3 {
  background-color: #c877e8;
}
body.show-note .unreactivemetal {
  background-color: #7f736f;
}
.unreactivemetal .note {
  font-size: 20px;
}
body.show-note .highie {
  background-color: #eade83;
}
body.show-note .note {
  display: block;
}

.tooltip {
  position: fixed;
  pointer-events: none;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  animation: pop-in 3.25s, fade-out-forever .2s 13s forwards;
  border-radius: 5px;
}
.hidden {
  display: none;
}
.tooltip h3, .tooltip p {
  margin: 0.5em 0;
}
code {
  background-color: #ddd;
  padding: 1px 3px;
  border-bottom: 3px solid #aaa;
}
@keyframes pop-in {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0.5; }
}
@keyframes fade-out-forever {
  from { opacity: 0.5; }
  to { opacity: 0; }
}

#show-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
  z-index: 10;
  box-sizing: border-box;
}
#show-bar button {
  vertical-align: top;
  padding: 15px;
  margin: 10px;
  border: none;
  background: none;
  background-color: #ddd;
  border-bottom: 3px solid #aaa;
  font: inherit;
  font-size: 18px;
  color: inherit;
  cursor: pointer;
  border-radius: 5px;
}
#show-bar button:active, .menu-btn:active {
  border-bottom: none;
  border-top: 3px solid #aaa;
}
#show-bar button:focus, .menu-btn:focus {
  outline: none;
  background-color: #48aaeb;
  border-color: #2395e1;
  color: white;
}

.floating-btn {
  position: fixed;
  bottom: 0;
  margin: 20px;
  border-radius: 300px; /* any arbitrarily large number should work */
  padding: 20px;
  border: none;
  background: none;
  background-color: white;
  cursor: pointer;
  font: inherit;
  color: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#multiple-btn {
  left: 0;
}
.multiple-active, #menu-btn:focus {
  background-color: #48aaeb;
  color: white;
}
#menu-btn {
  right: 0;
}

#overlay-cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: all .5s;
  z-index: 20;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  pointer-events: none;
  opacity: 0;
  transition: all .5s;
  z-index: 25;
  font-size: 16px;
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
.overlay-heading {
  font-weight: normal;
}
.showing, #overlay-cover.showing {
  opacity: 1;
  pointer-events: all;
}
.overlay {
  animation: zoom-out .5s forwards;
}
.showing.overlay {
  transform-origin: center top;
  animation: zoom-in .5s;
}
.showing .overlay-heading {
  animation: come-from-left .5s;
}
.showing .overlay-content {
  opacity: 0;
  animation: come-from-bottom .5s .1s forwards;
}
@keyframes zoom-out {
  from { transform: scale(1) translateY(0); }
  to { transform: scale(1.2) translateY(50px); }
}
@keyframes zoom-in {
  from { transform: scale(1.5); }
  to { transform: scale(1); }
}
@keyframes come-from-left {
  from { opacity: 0; transform: translateX(-90px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes come-from-bottom {
  from { opacity: 0; transform: translateY(90px); }
  to { opacity: 1; transform: translateY(0); }
}
.close {
  border: none;
  background: none;
  color: #888;
  cursor: pointer;
  text-decoration: underline;
  font: inherit;
  font-size: 16px;
  float: right;
  padding: 10px;
}

#savecode {
  width: 100%;
  height: 140px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
.menu-btn {
  vertical-align: top;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  background: none;
  background-color: #ddd;
  border-bottom: 3px solid #aaa;
  font: inherit;
  font-size: 18px;
  color: inherit;
  cursor: pointer;
  border-radius: 5px;
}
a {
  color: black;
}
